<div class="container my-5">
  <h1>Admin Dashboard</h1>
  <p>Welcome to the Taste of Motherland Admin Dashboard. Use the links below to manage products and other site content.</p>

  <div class="list-group my-4">
    <%= link_to "Manage Products", admin_menus_path, class: "list-group-item list-group-item-action" %>
    <%= link_to "Manage Categories", admin_categories_path, class: "list-group-item list-group-item-action" %>
    <!-- Add more links here for additional admin functions -->
  </div>
</div>
